<!doctype html>
<html ng-app>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div clas="row">
                <div class="col-lg-4 col-offset-4">
                    <label>Name:</label>
                    <input type="text" ng-model="yourName" placeholder="Enter a name here">
                    <hr>
                    <h1>Hello {{yourName}}!</h1>
                </div>
            </div>
        </div>
    </body>
</html>