<!DOCTYPE html>
<html>
	<head>
		<title>Converts Responsive Theme</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/converts.css" rel="stylesheet" />
		<link href="/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="/css/font-awesome.css" rel="stylesheet" />
		
		<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        
        <!--[if gte IE 9]>
        <link type="text/css" rel="stylesheet" href="/public/css/ie9-gradients.css" />
        <![endif]-->
        
        <!-- LayerSlider styles -->
        <link rel="stylesheet" href="/js/layerslider/css/layerslider.css" type="text/css" />
 
	</head>
	<body>
		<div id="header" class="animated bounceInDown">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="navbar">
							<div class="navbar-inner">
								<div class="container">
									<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="brand pull-left" href="index.html"><img class="logo" src="/img/logo.png" alt="Converts Logo"></a>
									<div class="nav-collapse collapse">
										<ul class="nav pull-right">
											<li class="active">
												<a href="index.html">Home</a>
											</li>
											<li>
												<a href="about.html">About</a>
											</li>
											<li>
												<a href="blog.html">Blog</a>
											</li>
											<li class="dropdown">
												<a id="drop" href="work.html" role="button" class="dropdown-toggle" data-toggle="dropdown">Work <b class="caret"></b></a>
												<ul class="dropdown-menu" role="menu" aria-labelledby="drop">
													<li><a tabindex="-1" href="work-4cols.html">4 Columns</a></li>
													<li><a tabindex="-1" href="work-3cols.html">3 Columns</a></li>
													<li><a tabindex="-1" href="work-2cols.html">2 Columns</a></li>
													<li><a tabindex="-1" href="work-single.html">Single Work</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a id="drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
												<ul class="dropdown-menu" role="menu" aria-labelledby="drop">
													<li><a tabindex="-1" href="typography.html">Typography</a></li>
													<li><a tabindex="-1" href="elements.html">Elements</a></li>
													<li><a tabindex="-1" href="full-width.html">Full Width</a></li>
													<li><a tabindex="-1" href="pricing-tables.html">Pricing Tables</a></li>
													<li><a tabindex="-1" href="right-sidebar.html">Right Sidebar</a></li>
													<li><a tabindex="-1" href="left-sidebar.html">Left Sidebar</a></li>
													<li><a tabindex="-1" href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li>
												<a href="contact.html">Contact</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div><!--/span12-->
				</div><!--/row-->
			</div><!--/container-->
		</div><!--/header-->
		
        <img src="/js/rs-plugin/assets/loader.gif" style="display: none;" /> <!-- Preload our loader image -->
		<div id="hero">
            
            <!--LayerSlider begin-->
            <div class="container">
                <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
                 
                    <!--LayerSlider layer-->
                    <div class="ls-layer">
                 
                        <!--LayerSlider sublayers-->
                        <h3 class="ls-s3" style="left: 20px; top: 80px; slidedirection: top; easingin: easeOutQuint;">GET THIS TEMPLATE WITH AMAZING<br />CUSTOM FEATURES</h3>
                        <img class="ls-s3" src="/img/slides/slide-1-img.png" alt="" style="delayin: 1500; left: 380px; top: 100px; slidedirection: right;" />
                        <ul class="ls-s3 ls-dbd-list" style="left: 35px; top: 165px; delayin: 800; slidedirection: left;">
                            <li><img src="/img/check-icon.png" class="list-image" /> Layer Slider Included</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Bootstrap Framework</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> AJAX Contact Form</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Sortable jQuery Potrfolio</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Unique, Clean &amp; Modern Theme</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Semantic Markup</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Looks Great On Mobile</li>
                        </ul>
                        
                        <a class="ls-s3 blue-btn" style="top: 335px; left: 20px; delayin: 2500; slidedirection: bottom; easingin: easeInQuint;">Buy This Theme Now!</a>
                        
                    </div>
                    <div class="ls-layer">
                        <h3 class="ls-s3" style="left: 20px; top: 80px; slidedirection: left;">BEAUTIFUL ON EVERY<br />SCREEN</h3>
                        <p class="ls-s3" style="left: 20px; top: 160px; delayin: 800; slidedirection: left;">Responsive theme that will look good on any device.<br />Don't believe us? Check it out for<br /> 
    yourself today.</p>
                        <img class="ls-s3" src="/img/slides/slide-2-img.png" alt="" style="top: 100px; left: 370px; delayin: 2700; slidedirection: right; easeingin: easeInCirc;" />
                        
                        <ul class="ls-s3 ls-dbd-list" style="left: 35px; top: 240px; delayin: 1800; slidedirection: left;">
                            <li><img src="/img/check-icon.png" class="list-image" /> Desktop</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> iPhone</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> iPad</li>
                            <li><img src="/img/check-icon.png" class="list-image" /> Other Mobile Devices</li>
                        </ul>
                    </div>
                    
                    <div class="ls-layer">
                        <h3 class="ls-s3" style="left: 20px; top: 140px; slidedirection: bottom;">THIS IS THE APP YOU'VE BEEN WAITING<br />ON YOUR WHOLE LIFE</h3>
                        <p class="ls-s3" style="left: 20px; top: 220px; delayin: 800; slidedirection: bottom;">I'm not honestly sure how youвЂ™ve lived without this app your entire life. If I was you I<br />would stop reading this and go and head scroll down so you can sign up for this bad boy. So<br />get going, becase youвЂ™re only wasting both of our time.</p>
                        
                        <img class="ls-s3" src="/img/slides/slide-3-img.png" alt="" style="top: 30px; left: 710px; delayin: 1800; slidedirection: top;" />
                        
                        <a class="blue-btn ls-s3" style="top: 310px; left: 20px; delayin: 2500; slidedirection: bottom;">Get Started Today</a>
                    </div>
                 
                </div>
                <!--LayerSlider end-->
            </div>
            
		</div><!--/hero-->
		<div id="callout">
        	<div class="container">
                <div class="pull-left">
                    <h3>Converts is a beautiful, lightweight theme for everyone to use.</h3>
                    <p>Be sure to check out our other themes, we have something you might enjoy.</p>
                </div>
                <div class="pull-right">
                    <a class="blue-btn ie8-btn-fix" href="#">Buy This Theme Now</a>
                </div>
            </div>
        </div>
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="span4">
						<div class="white-bg">
							<i class="icon-cog icon-position"></i>
							<h4>Advanced Settings</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
							Pellentesque nec lacus elit. Mauris ornare tempor nulla.</p>
						</div><!--/white bg-->
					</div><!--/span4-->
					<div class="span4">
						<div class="white-bg">
							<i class="icon-dashboard icon-position"></i>
							<h4>User Dashboard</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
							Pellentesque nec lacus elit. Mauris ornare tempor nulla.</p>
						</div><!--/white bg-->
					</div><!--/span4-->
					<div class="span4">
						<div class="white-bg">
							<i class="icon-info-sign icon-position"></i>
							<h4>Top Notch Support</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
							Pellentesque nec lacus elit. Mauris ornare tempor nulla.</p>
						</div><!--/white bg-->
					</div><!--/span4-->
				</div>
                <div class="row">
					<div class="span12">
						<h3>Our Featured Work</h3>
					</div><!--/span12-->
				</div>
                <div class="row grid-listings">
					<div class="span3">
						<img src="/img/work.jpg" alt="work" />
						<div class="white-bg box-top-fix">
							<h5>Lorem Ipsum Dolor</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">Read More &rarr;</a>
						</div><!--/work bg-->
					</div><!--/span3-->
					<div class="span3">
						<img src="/img/work2.jpg" alt="work" />
						<div class="white-bg box-top-fix">
							<h5>Lorem Ipsum Dolor</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">Read More &rarr;</a>
						</div><!--/work bg-->
					</div><!--/span3-->
					<div class="span3">
						<img src="/img/work3.jpg" alt="work" />
						<div class="white-bg box-top-fix">
							<h5>Lorem Ipsum Dolor</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">Read More &rarr;</a>
						</div><!--/work bg-->
					</div><!--/span3-->
					<div class="span3">
						<img src="/img/work4.jpg" alt="work" />
						<div class="white-bg box-top-fix">
							<h5>Lorem Ipsum Dolor</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">Read More &rarr;</a>
						</div><!--/work bg-->
					</div><!--/span3-->
				</div>
					
					
				<div class="row">	
					<div id="testimonial" class="span12">				
	
						<div class="white-bg">
							<img class="icon_testimonial_left" src="/img/icon_testimonial_left.png" alt="Testimonial">
							<img class="icon_testimonial_right" src="/img/icon_testimonial_right.png" alt="Testimonial">
                            <div class="testimonials">
                                <div class="testimonial-wrapper">
                                    <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam 
                                    processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                                    <cite>-David Bradley - NC</cite>
                                </div>
                                <div class="testimonial-wrapper" style="display: none;">
                                    <p>Mauris lobortis ipsum magna. Integer auctor fringilla tellus sed aliquet. In egestas, lacus sed elementum hendrerit, leo urna sodales tortor.</p>
                                    <cite>-Ashley Peacock - UK</cite>
                                </div>
                                <div class="testimonial-wrapper" style="display: none;">
                                    <p>Mauris lobortis ipsum magna. Integer auctor fringilla tellus sed aliquet. In egestas, lacus sed elementum hendrerit, leo urna sodales tortor.</p>
                                    <cite>-Another Person - IN</cite>
                                </div>
                                <div class="testimonial-wrapper" style="display: none;">
                                    <p>In hac habitasse platea dictumst. Nullam nec ligula eget lorem tincidunt gravida non ac sem. Curabitur vel felis in metus aliquet iaculis at nec erat.</p>
                                    <cite>-Final Pesron - JP</cite>
                                </div>
                            </div>
						</div><!--/white bg-->
					</div><!--/span12-->
				</div>
                <div class="row">
					<div class="span12 sign-up-home">
						<a class="blue-btn span5 offset3" href="contact.html">Contact us for a free quote today</a>
					</div><!--/span12-->
					
				</div><!--/row-->
			</div><!--/container-->
		</div><!--/content-->
		
		<div id="white-content">
			<div class="container">
				<div class="row">
					<div class="span2">
						<h5>News Articles</h5>
					</div><!--/span2-->
					<div class="span5">
						<div class="icon-box pull-left">
							<i class="icon-file"></i>
						</div><!--/icon box-->
						<div class="description">
							<h5><a href="#">We've updated our application to make it faster.</a></h5>
							<p class="muted"><i class="icon-calendar"></i>Oct. 17th, 2012 &nbsp; - &nbsp; 
							<i class=" icon-comment-alt"></i> <a class="muted" href="#">4 Comments</a></p>
						</div><!--/pull right-->
					</div><!--/span5-->
					<div class="span5">
						<div class="icon-box pull-left">
							<i class="icon-file"></i>
						</div><!--/icon box-->
						<div class="description">
							<h5><a href="#">Push comes to shove, we got it done in time.</a></h5>
							<p class="muted"><i class="icon-calendar"></i>Oct. 17th, 2012 &nbsp; - &nbsp; 
							<i class=" icon-comment-alt"></i> <a class="muted" href="#">4 Comments</a></p>
						</div><!--/pull right-->
					</div><!--/span5-->
				</div><!--/row-->
				
				<hr>
				
				<div class="row">
					<div class="span2">
						<h5>Latest Tweets</h5>
					</div><!--/span2-->
                    <div id="latest_tweets">
                        
                    <div id="jtwt3674" class="jtwt"><p style="display: none;" class="jtwt_loader muted">Loading Tweets...</p><div class="span5"><div class="icon-box pull-left"><i class="icon-twitter"></i></div><div class="description"><p>We also have several totally new themes on the way, the next one should be available sometime next week! <span class="muted">16 days ago</span></p></div></div><div class="span5"><div class="icon-box pull-left"><i class="icon-twitter"></i></div><div class="description"><p>Our Concrete5 theme, one of the first on ThemeForest, was released earlier this week. You can take a look at <a href="http://t.co/AHesNzHXds">http://t.co/AHesNzHXds</a> <span class="muted">16 days ago</span></p></div></div></div></div>
				</div><!--/row-->
			</div><!--/container-->
		</div><!--/white content-->
		
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="span8">
						<p>&copy; Copyright 2013 DesignedByDash | All rights reserved</p>
					</div><!--/span8-->
					<div class="span4">
						<ul id="footer-nav">
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Pricing</a></li>
						</ul>
					</div><!--/span4-->
				</div><!--/row-->
			</div><!--/container-->
		</div><!--/footer-->
		
		
		
		<script src="/js/layerslider/jQuery/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
        
        <!-- Latest Tweets -->
        <script type="text/javascript" src="/js/twitter.js"></script>
        
        <!-- Testimonials -->
        <script type="text/javascript" src="/js/testimonials.js"></script>
        
        <!-- Layer Slider -->
        <script src="/js/layerslider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
        <script src="/js/layerslider/jQuery/jquery-transit-modified.js" type="text/javascript"></script>
         
        <!-- LayerSlider from Kreatura Media with Transitions -->
        <script src="/js/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
        <script src="/js/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
        <script type="text/javascript">
		jQuery(document).ready(function(){
        	jQuery('#layerslider').layerSlider({
				responsiveUnder: 980,
				sublayerContainer: 940,
				skinsPath: '/js/layerslider/skins/',
				skin : 'fullwidth',
				thumbnailNavigation: 'hover',
				responsive: false,
				slideDirection: 'left',
				delayin: 1000
			});
    	});
		</script>
         
</body>
</html>
